/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.test-results export-ignore
/docs export-ignore
/tests export-ignore
/node_modules export-ignore
/vendor export-ignore
/test-results export-ignore
/playwright-report export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/playwright.config.js export-ignore
/playwright.integration.config.js export-ignore
/phpstan.neon export-ignore
/phpcs.xml export-ignore
