<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="basicrum" translate="label" sortOrder="100">
            <label>BasicRum</label>
        </tab>
        <section id="basicrum" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>BasicRum Analytics</label>
            <tab>basicrum</tab>
            <resource>BasicRum_Analytics::basicrum_analytics</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="logo" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>BasicRum\Analytics\Block\Adminhtml\System\Config\Logo</frontend_model>
                    <label>BasicRum Logo</label>
                    <comment>This field is used to display the BasicRum logo</comment>
                </field>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="beacon_endpoint" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Beacon Endpoint</label>
                </field>
                <field id="boomerang_version" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Boomerang JS Version</label>
                    <frontend_model>BasicRum\Analytics\Block\Adminhtml\System\Config\BoomerangVersion</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
